
<ng-container>




  <div *ngIf="this.payment===false"   class="flex w-full h-screen justify-items-center items-center  max-[375px]:flex-col ">



    <div class=" w-full  ">

      <div id="scrollbar" style="height: 600px ;"
        class=" flex items-end justify-items-center flex-col   max-[600px]:p-2  p-24 w-full   ">

        <div class="w-7/12 max-[1183px]:w-full  flex items-start justify-items-center flex-col">
          <button class="mt-4 mb-4" mat-raised-button (click)="back()"> Back To Products </button>
          <h3>VideoMetaDoc</h3>
          <h1 class="font-bold "> {{this.CartService.getTotal(this.cartCheckout.items) }} <span> lei </span></h1>
        </div>
        <div class=" w-7/12  max-[1183px]:w-full max-[792px]:flex-col  mt-2 mb-2 flex items-center justify-between"
          *ngFor="let item of cartCheckout.items ">

          <div class="flex items-center max-[792px]:flex-col">
            <img src="{{item.img}}" class="h-16 w-16 rounded">
            <div class="m-2 flex flex-col">
              <small class="font-bold">{{item.name}}</small>
              <small class="text-muted">Qty.{{item.qty}}</small>
            </div>

          </div>

          <div class="flex  justify-items-end items-end flex-col">
            <small class="font-bold" *ngIf="item.qty>1">Total
              {{item.qty*item.price}} <span> lei </span></small>

            <small class="text-muted">{{item.price }} <span> lei  </span> </small>
          </div>

        </div>
        <hr class="rounded  w-7/12 max-[1183px]:w-full  bg-slate-300">
        <div class="w-7/12 max-[1183px]:w-full   flex justify-between ">
          <span class="font-bold ">SubTotal</span>
          <span class="font-bold "> {{this.CartService.getTotal(this.cartCheckout.items)}} <span> lei </span></span>

        </div>

        <div class="w-7/12 max-[1183px]:w-full  flex justify-between mt-4 mb-4 ">

          <div class="flex flex-col">
            <span class=" text-muted">Shipping </span>
            <span class=" text-muted">Free shipping (5-works days)</span>
          </div>
          <span class=" text-muted"> Free Shipping</span>

        </div>

        <hr class="rounded  w-7/12 max-[1183px]:w-full  bg-slate-300">
        <div class="w-7/12 max-[1183px]:w-full  flex justify-between ">
          <span class="font-bold ">Total</span>
          <span class="font-bold "> {{this.CartService.getTotal(this.cartCheckout.items)}} <span> lei </span></span>

        </div>

      </div>

    </div>

    <div class=" w-full h-screen flex items-center justify-center">

      <form [formGroup]="OrderForm" (ngSubmit)="createOrder()"
        class=" w-full   p-2 flex items-center flex-col max-[792px]:flex-col ">
        <label class="font-bold w-6/12 max-[600px]:w-[185px] mb-4">Shipping information
        </label>
        <!-- User -->
        <div [formGroupName]="'user'" class=" w-full flex items-center flex-col max-[792px]:flex-col ">
          <label class="w-6/12 max-[600px]:w-[185px]" for="email">E-mail</label>
          <input [formControlName]="'email'" class="bg-white  px-3 py-2 border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1 w-6/12 max-[600px]:w-[185px]" type="text">

          <label class="mt-4 w-6/12 max-[600px]:w-[185px] "> Delivery address</label>
          <input [formControlName]="'firstname'" class="bg-white px-3 py-2 border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1 max-[600px]:w-[185px] w-6/12 mt-2" type="text"
            placeholder="Firstname">
          <input [formControlName]="'lastname'" class="bg-white px-3 py-2 border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1  max-[600px]:w-[185px] w-6/12 mt-2" type="text"
            placeholder="Lastname">
          <!-- Delivery address -->
        </div>
        <div [formGroupName]="'address'" class="w-full  flex items-center flex-col max-[792px]:flex-col ">
          <input [formControlName]="'country'" class="bg-white px-3 py-2 border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1 max-[600px]:w-[185px] w-6/12 mt-2" type="text"
            placeholder="Country">
          <input [formControlName]="'street'" class="bg-white px-3 py-2 border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1  max-[600px]:w-[185px] w-6/12 mt-2" type="text"
            placeholder="Street">

          <div class="flex justify-items-center  max-[600px]:w-[185px] w-6/12">

            <input [formControlName]="'zipcode'" class="bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1  px-3 py-2  mt-2" type="text" placeholder="Zip code">
            <input [formControlName]="'city'" class="bg-white px-3 py-2 border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block  rounded-md sm:text-sm focus:ring-1   mt-2" type="text" placeholder="City">

          </div>
        </div>

        <br>





        <button mat-flat-button color="primary" type="submit" class="max-[600px]:w-[185px] w-6/12  mt-4 "
          [disabled]="!OrderForm.valid">Submit order</button>
      </form>


    </div>

  </div>

  </ng-container>


  <ng-container  *ngIf="payment">

  <div class="absolute h-full w-full  bg-neutral-100  flex items-center justify-center flex-col 	">

    <h1 class="text-center">You Have Successfully Pay order ! Number order : {{orderId }} </h1>
    <button class="mt-4 mb-4 animate-bounce" mat-raised-button (click)="back()"> Back To VideoMetaDoc </button>
  </div>

  </ng-container>

